# ===================================
# Filter Scope Definitions
# ===================================

scopes:

    groups:
        label: acorn.user::lang.group.label
        modelClass: Acorn\User\Models\UserGroup
        nameFrom: name
        scope: filterByGroup

    created_date:
        label: acorn.user::lang.user.created_at
        type: daterange
        conditions: acorn_user_users.created_at >= ':after' AND acorn_user_users.created_at <= ':before'

    activated:
        label: acorn.user::lang.user.status_activated
        type: switch
        conditions:
            - acorn_user_users.is_activated = '0'
            - acorn_user_users.is_activated = '1'

    deleted:
        label: acorn.user::lang.user.status_deleted
        type: switch
        default: 0
        conditions:
            - acorn_user_users.deleted_at is null
            - not acorn_user_users.deleted_at is null
