table.table.data > tbody > tr.usergroup-current-auth > td {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
table.table.data > tbody > tr.usergroup-current-auth > td:first-child {
    border-left: 2px solid #000;
    border-radius: 4px 0px 0px 4px;
}
table.table.data > tbody > tr.usergroup-current-auth > td:last-child {
    border-right: 2px solid #000;
    border-radius: 0px 4px 4px 0px;
}

/* 1st User group display item */
#layout-sidenav-1 div.headless-menu:has(a[href*='/acornassociated/user/usergroups/update/']):has(i[class*='icon-group']) {
    border:2px solid #000;
    border-radius: 10px;
    background-color: #f7f7f7;
}
#layout-sidenav-1 div.headless-menu:has(a[href*='/acornassociated/user/usergroups/update/']):has(i[class*='icon-group']) a {
    color: #444;
}
#layout-sidenav-1 div.headless-menu:has(a[href*='/acornassociated/user/usergroups/update/']):has(i[class*='icon-group']) a:hover {
    color: #fff;
}
